
.stylesForHeader {
    @apply flex h-40 items-center bg-headerBg justify-center mb-5 text-white
}
.stylesForNotes {
    @apply flex mb-2 h-40 items-center justify-center text-sm bg-bgBlue text-center
}
.boxShadowStyle {
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4)
}

.button {
    width: 50px;
    height: 25px;
    font-size: 10px;
    margin-right: 2px;
    border-radius: 0.3em;
    border: 1px solid #aaaaaa;
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4);
}
.button:hover {
    box-shadow: inset 0 2px 3px rgba(255, 255, 255, 0.3), 0 2px 3px rgba(0, 0, 0, 0.4);
}